<% title("Announcements") %>

<article class="module width_full">
  <header>
    <h3 class="tabs_involved">Eastern League News</h3>
    <% if can? :create, Announcement %>
      <ul class="tabs">
          <li><%= link_to("Create Announcement", new_announcement_path) %></li>
      </ul>
    <% end %>
  </header>
  <div class="module_content">
    <%= render :partial => "shared/announcement", :collection => @announcements %>
  </div>

</article>
