.bundle
config/secrets.yml
config/initializers/active_merchant.rb
config/initializers/secret_token.rb
config/initializers/setup_mail.rb
config/initializers/flickr.rb
coverage.data
coverage/
db/*.sqlite3
log/*.log
log/*.log.*
tmp/
.sass-cache/
public/assets/*
public/system/avatars/*
public/system/logos/*
public/system/registration_forms/*
old_cap
