<p>A user on <%= link_to("easternleague.net", "http://easternleague.net") %> has sent you a message.</p>
<p>This user cannot see your email address, unless you click "reply" to this message.</p>

<p><%= @message %></p>
