<article class="module width_3_quarter">
  <header><h3>Recent News</h3></header>
  <div class="module_content">
    <h4>June 2, 2011</h4>
    <p>I wanted to let everyone know that I will be stepping down as Eastern League Commissioner at the end of this season.  It's been a pleasure serving y'all!</p>

    <p>More importantly, I'm happy to announce that Jared Haworth will be your new Commissioner!  For those of you that don't know Jared, he's a competitor from North Carolina that flies in Experienced Class dual-line.  Jared flies Focus kites, as well as Will Sturdy's Sabers, with which he flies in pairs and team.  More importantly, Jared is an organized, focused, passionate individual with a deep love for sport kite competition.  He's also a computer programmer by trade, with tons of experience in building web-based applications.  Jared's got plans to revamp the Eastern League website with some much-needed updates that will improve the registration process as well as the online membership process.  Maybe he'll even make the site look a little more modern in the process!</p>

    <p>I plan to continue supporting event coordinators for Eastern League events as I've been doing.  I'm also a member of the AKA Sport Kite Committee, and plan to continue my efforts there to improve sport kite competition for us and explore ideas to bring in new folks.  Of course, I'm still a competitor as well, so I'll still be around for as many comps as I can get to.
    </p>

    <h4>May 22, 2011</h4>
    <p>Just wanted to remind everyone that early registration for the 19th annual Old Dominion Sport Kite Championships (ODSKC) ends on June 1, so register now and save yourself 10 bucks!  We're going to have a great time at ODSKC.  I'm hoping to do a workshop on Friday evening on the new Program Precision format.  I'm hoping to have an open discussion that looks at Program Precision from both the judge's and competitor's perspective.  Not sure where it'll be yet, but I'll get more details out to everyone as the picture becomes clearer.</p>

    <p>To register for ODSKC, go to <a href="http://www.richmondairforce.com/ODSKC/registration.htm">http://www.richmondairforce.com/ODSKC/registration.htm</a>, fill out the form, and you're in!  It only take a minute or two, and you can even pay your registration fees online with a Paypal account or any major credit card.</p>

    <h4>April 27, 2010</h4>
    <p>NJSKC 2010 has been cancelled.  This makes ODSKC 2010 the final event of the 2009-2010 season.</p>

    <h4>June 22, 2009</h4>
    <p>BASKC 2009 has been cancelled.  The first event of the 2009-2010 season will be OBSKC in October.</p>
  </div>
</article>

<article class="module width_quarter">
  <header><h3>Active Competitions</h3></header>
  <div class="module_content">
    <%= link_to(image_tag("EL_ACTIVE_US_Map.png", :width => "170", :alt => "Eastern League Map"), "#") %>
  </div>
</article>
