<%= title("What's New") %>

<article class="module width_3_quarter">
  <header><h3>Recent News</h3></header>
  <div class="module_content">
    <%= render :partial => "announcement", :collection => @announcements %>
  </div>
</article>

<article class="module width_quarter">
  <header><h3>Active Competitions</h3></header>
  <div class="module_content">
    <%= link_to(image_tag("active_states_2011.png", :width => "170", :alt => "Eastern League Map"), calendar_path) %>
  </div>
</article>
