<article class="module width_3_quarter">
  <header><h3>Recent News</h3></header>
  <div class="module_content">
  </div>
</article>

<article class="module width_quarter">
  <header><h3>Eastern Leauge Map</h3></header>
  <div class="module_content">
    <%= image_tag("EL_ACTIVE_US_Map.png", :width => "260", :alt => "Eastern League Map") %>
  </div>
</article>

<div class="spacer"></div>

