<article class="module width_3_quarter">
  <header><h3><a name=<%= detail_title %>></a><%= detail_title.humanize %> &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <%= raw(detail) %>
  </div>
</article>
