<% title("#{@event.name} Donation") %>

<article class="module width_3_quarter">
  <header><h3>Make a Donation</h3></header>
  <div class="module_content">
    <%= @admin_setting.raffle_item_description.html_safe %>
  </div>
</article>
<div class="clear"><br /></div>

<article class="module width_3_quarter">
  <header><h3>Support <%= @event.acronym %></h3></header>
  <% if @admin_setting.raffle_open? %>
    <%= render partial: "donate_form" %>
  <% else %>
    <p>Sorry!  All donation opportunities have been taken at this time.</p>
  <% end %>
</article>
<div class="clear"><br /></div>
