<% title("#{@event.name} Donation") %>

<article class="module width_3_quarter">
  <header><h3>Make a Donation</h3></header>
  <div class="module_content">
    <p>
      Great events like TISKC only happen with your help!  Please use the form below to make a donation to help offset the operating costs of the competition.
    </p>
    <p>
      All persons making a donation will be entered into a drawing to win the "Absolutely No Sticks!" kite package, generously donated by Barbara Birnman &amp; Paul LaMasters
    </p>

    <p>
      Those of you who know Barb know that her "blind-item" raffle/auction prizes are some of the neatest packages in kiting.  She &amp; Paul have donated a number of items to be raffled off to support TISKC, and I've gathered together some of the similarly themed items into these "mega-prize-packs."  First up is the "no sticks" package.  This set contains two Sutton Flowform kites (or maybe just one Sutton and one flow-form style, I'm a stunt kite flyer, what do I know?), four sand anchors, a number of tails, windsocks, and other assorted line laundry (such as a blue Sky Guy, some HQ fruit windsocks, etc), and an unframed, carousel horse eddy kite.
    </p>

    <p>
     There are a maximum of <strong>100</strong> donation opportunities at this time.  Each donation is <strong><%= number_to_currency(@cost) %> USD</strong> and an individual may donate up to a maximum of $50.00.
    </p>
    <p>
      Drawing for the "Absolutely No Sticks!" package is expected to be held on or around <strong>September 25, 2015</strong>, or sooner if all donations have been received prior to September 25.
    </p>
    <%= image_tag("nosticksraffle.jpg", :alt => "Absolutely No Sticks Package", :width => "100%") %>
  </div>
</article>
<div class="clear"><br /></div>

<article class="module width_3_quarter">
  <header><h3>Support TISKC!</h3></header>
  <%#= render :partial => "donate_form" %>
  <p>Sorry!  All donation opportunities have been taken at this time.</p>
</article>
<div class="clear"><br /></div>
