<% title("#{@event.name} Donation") %>

<article class="module width_3_quarter">
  <header><h3>Make a Donation</h3></header>
  <div class="module_content">
    <p>
      Great events like TISKC only happen with your help!  Please use the form below to make a donation to help offset the operating costs of the competition.
    </p>
    <p>
      Previous Eastern League champion and master kite designer Paul De Bakker has provided us with a new Into the Wind Echo Indoor kite!  I cannot say enough wonderful things about this kite, I already own two of them and I'd be tempted to add a third one to my bag, if only my duties as League commissioner didn't prevent me from participating!  I've flown my Echos in the following locations, and more:
    </p>
    <ul>
      <li>The National Air &amp; Space Museum, Washington, DC</li>
      <li>The Wildwood Convention Center</li>
      <li>Seaside High School, Seaside, OR</li>
      <li>Downtown Raleigh, NC (both inside and outside the Duke Progress Energy Center)</li>
      <li>Baltimore Convention Center, Baltimore, MD</li>
      <li>Buckeye Recreation Center, Beech Mountain, NC</li>
      <li>Ocean City, MD (on the boardwalk when the wind dropped to 1mph)</li>
      <li>Wildwood Boardwalk, Wildwood, NJ</li>
      <li>Blossom Kite Festival, Washington, DC</li>
      <li>Katara Cultural Village, Doha, Qatar</li>
    </ul>
    <p>
      For an indoor kite, that's a pretty big list of outdoor locations, and here's why:  the Echo is a wonderful low wind outdoor kite in addition to being a stupendous indoor kite.  I've even flown in my front yard &amp; street on short lines just to practice for upcoming indoor events.<br />

      The new ITW Echo is designed with a leading edge ferrule which allows the kite to be folded down to just 25" -- I've carried this kite on trains, planes, buses, and subways.  It will go ANYWHERE you want to go!  Bring along a 10' lineset for indoor flying, or 15-20' for outdoor, and you can fly anywhere, anytime.  When the wind dies, the festival doesn't have to stop!  When the Rev flyers take over the whole field for their mega fly, just grab an Echo and a little bit of line, and entertain the crowds along the edges of the field.
    </p>

    <p>
      All persons making a donation will be entered into a drawing to win a new Echo in teal from <%= link_to("Into the Wind", "http://intothewind.com") %>!
    </p>
    <p>
     There are a maximum of <strong>75</strong> donation opportunities at this time.  Each donation is <strong><%= number_to_currency(@cost) %> USD</strong> and an individual may donate up to a maximum of $50.00.
    </p>
    <p>
      Drawing for the Echo is expected to be held on or around <strong>January 18th, 2014</strong>, or sooner if all donations have been received prior to January 18th.
    </p>
    <%= image_tag("echo.jpg", :alt => "Into the Wind Echo") %>
  </div>
</article>
<div class="clear"><br /></div>

<article class="module width_3_quarter">
  <header><h3>Support TISKC!</h3></header>
  <%= render :partial => "donate_form" %>
</article>
<div class="clear"><br /></div>
