<% title("#{@event.name} Donation") %>

<article class="module width_3_quarter">
  <header><h3>Make a Donation</h3></header>
  <div class="module_content">
    <p>
      Great events like the Fall Fly at TI only happen with your help!
    </p>
    <p>
      All persons making a donation will be entered into a drawing to win a 120' x 100# Dual line Skybond Lineset from Cath &amp; Eliot Shook at <%= link_to("Flying Smiles Kites", "http://flyingsmileskites.com") %>!
    </p>
    <p>
      Competitors know that linesets are one of the consumables in this sport of ours, and that replacing linesets in particular can get pricey.  <%= link_to("Flying Smiles Kites", "http://flyingsmileskites.com") %> have generously provided a set of lines for dual line competition as a reward for one lucky person making a donation to support Fall Fly at TI.  There are a maximum of <strong>40</strong> donation opportunities at this time.  Each donation is <strong><%= number_to_currency(@cost) %></strong> and an individual may donate up to a maximum of $40.00.
    </p>

    <%= image_tag('dualline_set.jpg', :alt => "Dual Line Lineset") %>
  </div>
</article>
<div class="clear"><br /></div>

<article class="module width_3_quarter">
  <header><h3>Support Fall Fly at TI!</h3></header>
  <p>Thank you for your interest, there are no further donation opportunities at this time.  Check back soon, as we'll have new chances to support upcoming events in the near future.</p>
  <%#= render :partial => "donate_form" %>
</article>
<div class="clear"><br /></div>
