<% title("#{@event.name} Donation") %>

<article class="module width_3_quarter">
  <header><h3>Make a Donation</h3></header>
  <div class="module_content">
    <p>
      Great events like ECSKC only happen with your help!  Please use the form below to make a donation to help offset the operating costs of the competition.
    </p>
    <p>
      All persons making a donation will be entered into a drawing to win a new Black Dog from <%= link_to("Skydog Kites", "http://skydogkites.com") %>!
    </p>

    <p>
      Here's what Skydog Kites has to say about the Black Dog:
      "The Black Dog is a unique sport kite.  It is desgined as a trainer and introduction for those pilots ready to move up to advanced slack line trick flying.  It also comes with factory installed features normally found on much more expensive sport kites.  The Black Dog basically came from another one of our successful designs, the Thunderstruck.  We enlarged it, replaced the fiberglass frame with a druable high tech Carbon frame, tweaked it out a bit, added a weight system, yo-yo stoppers, covered the leadying edge to avoid line catches and basically gave it everything our higher end sport kites have for tricking.  Don't let it's 6 foot wingspan fool you, this kite is capable of all of the advanced big wing sport kite tricks and the smaller size allows the flyer to learn these tricks without the pull associated with larger wingspan slack line sport kites."
    </p>

    <p>
      Personally, I've flown both the Black Dog and the ultralight variant, and I've had a blast with both.  This is definitely a kite that catches you off guard on first impression, as it has both a size and a pricepoint associated with cheaper, less capable dual line kites.  Once you launch, though, you realize that you've got in your hands a remarkable kite, a dance partner ready to follow your lead and impress everyone watching.  This is a kite that I love to pull out when I just want to have a good time flying and not focus on my competition training.  You can watch Dodd Gross demonstrate the Black Dog in <a href="http://www.youtube.com/watch?v=Drlv-EVABk4#t=1m17s" target="_BLANK">this video</a>.
    <p>
     There are a maximum of <strong>75</strong> donation opportunities at this time.  Each donation is <strong><%= number_to_currency(@cost) %> USD</strong> and an individual may donate up to a maximum of $40.00.
    </p>
    <p>
      Drawing for the Black Dog is expected to be held on or around <strong>May 1st, 2014</strong>, or sooner if all donations have been received prior to May 1st.  Jim Cosca will have this kite on hand to present to the winner at the 29th Annual Wildwoods International Kite Festival and East Coast Sport Kite Championships.  If you're not planning on attending, no worries!  We'll make sure it gets shipped to you!
    </p>
    <%= image_tag("blackdog.jpg", :alt => "Skydog Kites Black Dog", :width => "100%") %>
  </div>
</article>
<div class="clear"><br /></div>

<article class="module width_3_quarter">
  <header><h3>Support ECSKC!</h3></header>
  <%= render :partial => "donate_form" %>
</article>
<div class="clear"><br /></div>
