<% title("Orders") %>

<article class="module width_3_quarter">
  <header><h3>Thank You!</h3></header>
  <div class="module_content">
    <p>Thank you for your order from the Eastern League.  In just a few moments, we will receive confirmation from Paypal for your payment and finalize your purchase.  You will also receive an email confirmation from us shortly.</p>
  </div>
</article>

<article class="module width_quarter">
  <header><h3>Membership Info</h3></header>
  <div class="module_content">
    <p>Any sport kite competitor who wishes to be included in Eastern League standings and eligible for League honors must be a member in good standing at the time he or she competes.</p>
    <p><strong>One year</strong>: $15 per individual, plus $8 for each additional family member.</p>
    <p><strong>Two years</strong>: $25 per individual, plus $12 for each additional family member.</p>
  </div>
</article>
