<% title("Orders") %>

<article class="module width_3_quarter">
  <header><h3>Thank You!</h3></header>
  <div class="module_content">
    <p>Thank you for your order from the Eastern League.  In just a few moments, we will receive confirmation from Paypal for your payment and finalize your purchase.  You will also receive an email confirmation from us shortly.  <strong>You may print this page to keep as your receipt.</strong></p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3>Order #<%= @order.id %></h3></header>
  <table class="tablesorter" cellspacing="0">
    <thead>
      <tr>
        <th>Item</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td><strong>TOTAL</strong></td>
        <td><strong><%= number_to_currency(@order.amount) %></strong></td>
      </tr>
    </tfoot>
    <tbody>
      <% @order.line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.description %></td>
          <td><%= number_to_currency(line_item.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
