<% title("About the Eastern League") %>

<article class="module width_full">
  <header><h3>Who We Are</h3></header>
  <div class="module_content">
    <p>The <strong>Eastern League Sport Kite Association</strong> is a sanctioning organization that promotes sport kite competition in the eastern United States. The League offers a support system for competitors and event organizers &mdash; providing information, encouraging the education of field staff, and granting end-of-season awards to competing members who finish in the top three places in their disciplines.</p>

    <p>Although the League is independent of the American Kitefliers Association (AKA), all Eastern League events are AKA-sanctioned events, and the rules and competition year are the same as the AKA's.</p>

    <p>See the Information for Competitors page for details.</p>
  </div>
</article>

<div class="clear"></div>

<article class="module width_full">
  <header><h3>A Brief History</h3></header>
  <div class="module_content">
    <p>The Eastern League came into being in the late 1980s as a result of <strong>Roger Chewning</strong>'s vision and energy. His inspiration was the catalyst for a major expansion of the East Coast kiteflying community. Many new events were started, and consistent standards for competition were implemented.</p>

    <p>In the fall of 1993, <strong>Dave and Sherrie Arnold</strong> became the first Eastern League commissioners. Passionate about making competition as fair and consistent as possible from one venue to another, they organized a judges' certification program that ran seminars and tracked individuals' judging experience. In addition, they created a support infrastructure for event organizers and published a regular newsletter, the <em>Eastern League Flyer</em>.</p>

    <p><strong>Lou Behrman</strong> took on the job of commissioner in 1998. Lou's creation of the Eastern League web site brought the League into the computer age, making event information, competitors' standings, and general information about the League immediately accessible on the Internet.</p>

    <p><strong>Stephanie Hiebert</strong> served as commissioner from January 2002 through December 2005.  Stephanie brought the League to a new level of professionalism and organization.  With help from husband Ron Graziano and David Hansen, a functional program was created to track membership information, scores, and rankings.  Stephanie also created many printed materials to support event staff, introduced an Eastern League line of products for sale, and improved upon the Arnold's vision of a regular newsletter to create the <em>Eastern League Phoenix</em>.</p>

    <p>The commissionership was passed on to <strong>Marc Conklin</strong> in January 2006.  Under Marc's leadership, the Eastern League began offering online event registration and membership renewal via the Eastern League website.  Marc helped to modernize sport kite competitive events in the 21st century; using a streamlined approach to event organization, events with minimal outside funding can scale to meet the number of competitors and remain on the EL schedule.  Most notably, Marc has been responsible for championing the new Program Precision format, geared toward helping to draw spectators to the less glamorous, but no less important disciples in competition.</p>

    <p><strong>Jared Haworth</strong> assumed the commissionership in September 2011.</p>
  </div>
</article>
