<% title("A Spectator's Guide to Sport Kite Competition") %>

<article class="module width_3_quarter">
  <header><h3><a name="introduction"></a>What's a Sport Kite?</h3></header>
  <div class="module_content">
    <p>A sport kite, also sometimes called a stunt kite, is a kite that has two or more lines and thus can be maneuvered in the sky. When you see sport kites flying low to the ground, spinning this way and that, even "flopping around" on the ground, chances are that most of what you're watching is intentional.</p>

    <p>There are two primary kinds of sport kites: dual-line and multi-line.</p>

    <p><strong>Dual-line</strong> kites have two lines and can perform any number of maneuvers and tricks. The simplest maneuvers are circles and loops. Competitive dual-line fliers work hard to fly straight lines, turn sharp corners, and trace perfect shapes in the sky. They can also choose from a vast array of tricks with names like fade, stall, axel, and many more-complex tricks that are based on these fundamental trick skills, such as the cascade, flic-flac, lazy susan, 540 flat spin, and comet. These sklls and tricks take a lot of practice to master. Most modern dual-line kites are delta-shaped, like this:</p>
    <%= image_tag("dual_line.jpg", :style => "width:75%", :alt => "Dual Line Sport Kite") %>

    <p><strong>Multi-line</strong> kites have three or more lines. Most multi-line kites have four lines and thus are called quad-line kites.</p>

    <p>Quad-line kites are different from dual-line kites in that they can be flown both forward and backward and can be stopped suddenly and hover. Also unlike dual-line kites, which are generally flown on wrist or finger straps, quad-line kites are flown on rigid handles with two lines extending from each handle (one off the top and one off the bottom). Although quad-line kites come in a variety of shapes and sizes, including some that look just like dual-line kites, the most common quad-line kites have a rather flat sail and look something like this:</p>

    <%= image_tag("quad_line.jpg", :style => "width:75%", :alt => "Quad Line Sport Kite") %>

    <p>Both dual-line and multi-line kites can be linked together into what are called trains. A single train consists of three or more kites that are flown on one set of lines. Trains cannot perform all the complex maneuvers that single kites can, but they are quite striking in the sky and often exciting to watch.</p>
  </div>
</article>

<article class="module width_quarter">
  <header><h3>Contents</h3></header>
  <div class="module_content">
    <ol>
      <li><a href="#introduction">What's a Sport Kite?</a></li>
      <li><a href="#tape">What's that tape for?</a></li>
      <li><a href="#watch">Where should I go to watch?</a></li>
      <li><a href="#music">Why is there music sometimes but not other times?</a></li>
      <li><a href="#skills">Are there different skill levels?</a></li>
      <li><a href="#judging">How are the fliers judged? </a></li>
      <li><a href="#unlimited">What is "Unlimited"?</a></li>
      <li><a href="#indoor">Is there really such a thing as indoor kiteflying?</a></li>
    </ol>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="tape"></a>What's that tape for? &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>Sport kite competition fields are always roped off in some way. The main reason for the boundary line is to protect spectators from being hit by the kites, which have semi-rigid frames and can really hurt if they hit you! Competitors are required to stay within these lines, and spectators are required to stay outside of these lines. The safety rules are taken quite seriously: A competitor who crosses the boundary with kite or body at any time during a competition is automatically disqualified. </p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="watch"></a>Where should I go to watch? &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>The best place to position yourself to watch a sport kite event is behind the flier. You will notice that this is also where the judges position themselves on the field. You should follow the judges' example, but <em>be sure to stay outside of the field's boundary!</em> </p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="music"></a>Why is there music sometimes but not other times? &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>Sport kite competition is divided into two types—ballet and precision—which are somewhat analogous to the freestyle and compulsory divisions of figure skating.</p>

    <p><strong>Ballet</strong> is pretty much what it sounds like. Competitors choreograph kite routines to music of their choosing. These routines last anywhere from 2 to 5 minutes.</p>

    <p>In <strong>precision</strong>, there is no music. Instead, competitors are required to fly three prescribed compulsory figures, followed by a technical routine of their own design. There are 12 possible compulsory figures for each of four different classes of competition: dual-line individual, dual-line pair, dual-line team, and multi-line individual. Usually the compulsory figures that have been chosen for the particular competition are posted somewhere for anyone to look at. Here's an example of a compulsory figure for two kites that is called Pair Circles Over Diamonds:</p>

    <%= image_tag("CompulsoryFigure.gif", :style => "width:75%", :alt => "Pair Circles Over Diamonds") %>


  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="skills"></a>Are there different skill levels? &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>Sport kite fliers compete in three different types of events—individual, pair, or team—and in three different classes: Novice, Experienced, and Master. In the United States, anyone who is a member of the American Kitefliers Association can compete at a sport kite competition; there are no other qualifiers or prerequisites.</p>

    <p>Each particular event at a sport kite competition, such as Experienced Individual Ballet, is called a discipline. There are about 20 recognized disciplines, covering ballet and precision in each competition class and type. To keep things short, disciplines are usually abbreviated with three-letter designations when printed in programs. For example, the discipline we just mentioned—Experienced Individual Ballet—is abbreviated EIB. The general scheme for abbreviations works like this:</p>
    <%= image_tag("DAKey.gif", :alt => "Key to Discipline Abbreviations") %>
    <p>* Disciplines designated as Open are not divided by competition class, so competitors in these disciplines can range the gamut from Novice to Master.</p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="judging"></a>How are the fliers judged? &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>The judges you see on the field have prescribed criteria by which they judge competitors' ballet and precision performances. In the United States, competitors' scores from each competition count toward an overall season standing that may qualify them for national competition (by invitation only) at the American Kitefliers' Association annual convention, which takes place each year in late September/early October. </p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="unlimited"></a>What is "Unlimited"? &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>There is only one outdoor Unlimited sport kite discipline: <em>Open Individual Outdoor Unlimited (OIOU)</em>, formerly known as Open Individual Freestyle, or OIF. Competitors of all levels may participate in OIOU. Unlike other forms of sport kite competition, Unlimited allows competitors to use multiple kites and props during their performance, and audience appeal is one of the criteria by which Unlimited competitors are judged. </p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="indoor"></a>Is there really such a thing as indoor kiteflying? &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>Yes, believe it or not, kites can be flown indoors. In fact, indoor kiteflying and competition are becoming more and more popular all the time. Many people think that flying indoors requires big fans to make wind for the kites, but in fact, indoor kitefliers want there to be absolutely no wind. Because indoor kites are very lightweight compared to their outdoor counterparts, the fliers can generate enough lift simply by moving—slowly!—backward. Indoor competition follows rules similar to those for outdoor competition, with some modifications. The officially recognized competitive discipline for indoor flying is called <em>Open Individual Indoor Unlimited (OIIU)</em>. </p>
  </div>
</article>
