// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


fieldset.disciplines {
	padding-left: 1em;

	label.abbrev {
		width: 40px;
		display: inline;
	}
	
	input.abbrev {
		float: left;
	}
}