<aside id="sidebar" class="column">
  <h3>Information</h3>
  <ul>
    <li class="icn_about"><%= link_to "About the Eastern League", about_path %></li>
    <li class="icn_competitors"><%= link_to "Competitors", competitors_path %></li>
    <li class="icn_organizers"><%= link_to "Organizers", organizers_path %></a></li>
    <li class="icn_spectators"><%= link_to "Spectators", spectators_path %></a></li>
    <li class="icn_newsletter"><a href="#">Newsletter Archives</a></li>
    <li class="icn_link"><a href="#">Links</a></li>
  </ul>
  <h3>Competition</h3>
  <ul>
    <li class="icn_calendar"><a href="#">Calendar</a></li>
    <li class="icn_event_results"><a href="#">Event Results</a></li>
    <li class="icn_competitor_results"><a href="#">Competitor Results</a></li>
    <li class="icn_standings"><a href="#">Current Standings</a></li>
  </ul>

  <h3>Admin</h3>
  <ul>
    <li class="icn_edit_profile"><a href="#">Edit my Profile</a></li>
    <li class="icn_renew_membership"><a href="#">Renew my Membership</a></li>
    <li class="icn_logoff"><a href="#">Logout</a></li>
  </ul>


  <footer>
    <hr />
    <p><strong>&copy; 2011 Eastern League Sport Kite Association</strong></p>
    <p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
  </footer>
</aside>

